@media screen and (min-width: 1600px) {

    /* "Wide Screen" Github - based on 1600px .container */
    .container {
        width: 100%;
        max-width: 1600px;
        padding: 0 80px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    #footer .container { padding: 30px 80px; }

    /* "main" columns in two-column layouts */
    .column.main, 
    .discussion-timeline-cols .main { width: 1100px; }
    
    .columns.browser .main,
    .listings-layout .columns.main { width: 1180px; }
    
    .news { width: 1000px; }
    
    #notification-center .listings-layout .columns.main,
    .gist.container .column.files { width: 1240px; }
    
    .subscriptions-content { width: 1040px; }
    
    body.page-profile .profilecols .last { width: 1120px; }
    
    .settings-content { width: 1095px; }
    
    .page-account .settings-content { width: 1030px; }
    
    .popular-repos .capped-box { width: 550px; } /* 1120/2 - gutter */

    .comment-holder, .inline-comment-form { max-width: 1400px !important; }

    /* Leave room for .discussion-sidebar */
    .discussion-timeline { width: 1200px; }
    
    /* File / Directory structure view "frames" */
    #slider .frames .frame { width: 1440px; }

}