/* line 1, ../../../sass/_docs-only/_pygments-manni.scss */
.hll {
  background-color: #ffffcc;
}

/* line 2, ../../../sass/_docs-only/_pygments-manni.scss */
.c {
  color: #999;
}

/* line 3, ../../../sass/_docs-only/_pygments-manni.scss */
.err {
  color: #AA0000;
  background-color: #FFAAAA;
}

/* line 4, ../../../sass/_docs-only/_pygments-manni.scss */
.k {
  color: #006699;
}

/* line 5, ../../../sass/_docs-only/_pygments-manni.scss */
.o {
  color: #555555;
}

/* line 7, ../../../sass/_docs-only/_pygments-manni.scss */
.cm,
.com {
  color: #0099FF;
  font-style: italic;
}

/* line 8, ../../../sass/_docs-only/_pygments-manni.scss */
.cp {
  color: #009999;
}

/* line 9, ../../../sass/_docs-only/_pygments-manni.scss */
.c1 {
  color: #999;
}

/* line 10, ../../../sass/_docs-only/_pygments-manni.scss */
.cs {
  color: #999;
}

/* line 11, ../../../sass/_docs-only/_pygments-manni.scss */
.gd {
  background-color: #FFCCCC;
  border: 1px solid #CC0000;
}

/* line 12, ../../../sass/_docs-only/_pygments-manni.scss */
.ge {
  font-style: italic;
}

/* line 13, ../../../sass/_docs-only/_pygments-manni.scss */
.gr {
  color: #FF0000;
}

/* line 14, ../../../sass/_docs-only/_pygments-manni.scss */
.gh {
  color: #003300;
}

/* line 15, ../../../sass/_docs-only/_pygments-manni.scss */
.gi {
  background-color: #CCFFCC;
  border: 1px solid #00CC00;
}

/* line 16, ../../../sass/_docs-only/_pygments-manni.scss */
.go {
  color: #AAAAAA;
}

/* line 17, ../../../sass/_docs-only/_pygments-manni.scss */
.gp {
  color: #000099;
}

/* line 18, ../../../sass/_docs-only/_pygments-manni.scss */
.gs {
  font-weight: bold;
}

/* line 19, ../../../sass/_docs-only/_pygments-manni.scss */
.gu {
  color: #003300;
}

/* line 20, ../../../sass/_docs-only/_pygments-manni.scss */
.gt {
  color: #99CC66;
}

/* line 21, ../../../sass/_docs-only/_pygments-manni.scss */
.kc {
  color: #006699;
}

/* line 22, ../../../sass/_docs-only/_pygments-manni.scss */
.kd {
  color: #006699;
}

/* line 23, ../../../sass/_docs-only/_pygments-manni.scss */
.kn {
  color: #006699;
}

/* line 24, ../../../sass/_docs-only/_pygments-manni.scss */
.kp {
  color: #006699;
}

/* line 25, ../../../sass/_docs-only/_pygments-manni.scss */
.kr {
  color: #006699;
}

/* line 26, ../../../sass/_docs-only/_pygments-manni.scss */
.kt {
  color: #007788;
}

/* line 27, ../../../sass/_docs-only/_pygments-manni.scss */
.m {
  color: #FF6600;
}

/* line 30, ../../../sass/_docs-only/_pygments-manni.scss */
.s,
.str,
.atv {
  color: #d44950;
}

/* line 35, ../../../sass/_docs-only/_pygments-manni.scss */
.na,
.atn,
.typ,
.dec,
.var {
  color: #4f9fcf;
}

/* line 36, ../../../sass/_docs-only/_pygments-manni.scss */
.nb {
  color: #336666;
}

/* line 37, ../../../sass/_docs-only/_pygments-manni.scss */
.nc {
  color: #00AA88;
}

/* line 38, ../../../sass/_docs-only/_pygments-manni.scss */
.no {
  color: #336600;
}

/* line 39, ../../../sass/_docs-only/_pygments-manni.scss */
.nd {
  color: #9999FF;
}

/* line 40, ../../../sass/_docs-only/_pygments-manni.scss */
.ni {
  color: #999999;
}

/* line 41, ../../../sass/_docs-only/_pygments-manni.scss */
.ne {
  color: #CC0000;
}

/* line 43, ../../../sass/_docs-only/_pygments-manni.scss */
.nf,
.fun {
  color: #CC00FF;
}

/* line 44, ../../../sass/_docs-only/_pygments-manni.scss */
.nl {
  color: #9999FF;
}

/* line 45, ../../../sass/_docs-only/_pygments-manni.scss */
.nn {
  color: #00CCFF;
}

/* line 48, ../../../sass/_docs-only/_pygments-manni.scss */
.nt,
.kwd,
.tag {
  color: #2f6f9f;
}

/* line 49, ../../../sass/_docs-only/_pygments-manni.scss */
.nv {
  color: #003333;
}

/* line 50, ../../../sass/_docs-only/_pygments-manni.scss */
.ow {
  color: #000000;
}

/* line 51, ../../../sass/_docs-only/_pygments-manni.scss */
.w {
  color: #bbbbbb;
}

/* line 52, ../../../sass/_docs-only/_pygments-manni.scss */
.mf {
  color: #FF6600;
}

/* line 53, ../../../sass/_docs-only/_pygments-manni.scss */
.mh {
  color: #FF6600;
}

/* line 54, ../../../sass/_docs-only/_pygments-manni.scss */
.mi {
  color: #FF6600;
}

/* line 55, ../../../sass/_docs-only/_pygments-manni.scss */
.mo {
  color: #FF6600;
}

/* line 56, ../../../sass/_docs-only/_pygments-manni.scss */
.sb {
  color: #CC3300;
}

/* line 57, ../../../sass/_docs-only/_pygments-manni.scss */
.sc {
  color: #CC3300;
}

/* line 58, ../../../sass/_docs-only/_pygments-manni.scss */
.sd {
  color: #CC3300;
  font-style: italic;
}

/* line 59, ../../../sass/_docs-only/_pygments-manni.scss */
.s2 {
  color: #CC3300;
}

/* line 60, ../../../sass/_docs-only/_pygments-manni.scss */
.se {
  color: #CC3300;
}

/* line 61, ../../../sass/_docs-only/_pygments-manni.scss */
.sh {
  color: #CC3300;
}

/* line 62, ../../../sass/_docs-only/_pygments-manni.scss */
.si {
  color: #AA0000;
}

/* line 63, ../../../sass/_docs-only/_pygments-manni.scss */
.sx {
  color: #CC3300;
}

/* line 64, ../../../sass/_docs-only/_pygments-manni.scss */
.sr {
  color: #33AAAA;
}

/* line 65, ../../../sass/_docs-only/_pygments-manni.scss */
.s1 {
  color: #CC3300;
}

/* line 66, ../../../sass/_docs-only/_pygments-manni.scss */
.ss {
  color: #FFCC33;
}

/* line 67, ../../../sass/_docs-only/_pygments-manni.scss */
.bp {
  color: #336666;
}

/* line 68, ../../../sass/_docs-only/_pygments-manni.scss */
.vc {
  color: #003333;
}

/* line 69, ../../../sass/_docs-only/_pygments-manni.scss */
.vg {
  color: #003333;
}

/* line 70, ../../../sass/_docs-only/_pygments-manni.scss */
.vi {
  color: #003333;
}

/* line 71, ../../../sass/_docs-only/_pygments-manni.scss */
.il {
  color: #FF6600;
}

/* line 75, ../../../sass/_docs-only/_pygments-manni.scss */
.css .err,
.scss .err {
  color: inherit;
  background-color: inherit;
}
/* line 79, ../../../sass/_docs-only/_pygments-manni.scss */
.css .err,
.css .o,
.css .o + .nt,
.css .nt + .nt,
.scss .err,
.scss .o,
.scss .o + .nt,
.scss .nt + .nt {
  color: #003333;
  background-color: transparent;
}